<div>
    <div style="display: flex;align-items: center;flex-direction: column;">
        <h1>Register</h1>
        <form (ngSubmit)="register()">
            <div style="display: flex;">
                <label>User Email</label>
                <input type="text" name="emailid" [(ngModel)]="user.emailid">
            </div>
            <div style="display: flex;">
                <label>Password</label>
                <input type="password" name="password" [(ngModel)]="user.password">
            </div>
            <div style="text-align: center;">
                <button type="submit">submit</button>
            </div>
        </form>
       
    </div>
</div>